.projects {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-title {
  font-weight: bold;
  font-size: 28px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin-top: 10px;

}

.project-item, #proj-form{
  font-size: 20px;
  padding: 7.5px 7.5px;
  cursor: pointer;
}

.project-item {
  display: flex;
  justify-content: space-between;
}

.project-selected {
  background-color: bisque;
}



#add-proj {
  margin-top: 10px;
  
}

.hide {
  display: none;

}

#proj-form input {
    font-size: 20px;
    border: 1px solid black;
    padding: 6px 6px;
    width: 100%;

}


.hover {
  opacity: 0.7;
  background-color: bisque;
}

#proj-form button {
  padding: 10px 20px;
  width: 100px;
}

.button-cont {
  margin-top: 20px;
  display: block;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.project-item {
  padding: 10px;
}

.category-input {
  border: none;
  padding: 5px;
  font-size: 15px;
}

.filter-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-category {
  padding: 5px;
  font-size: 14px;
}